node_modules
.git
.gitignore
Dockerfile
frontend/node_modules
frontend/dist
frontend/build
frontend/.next
frontend/.cache
frontend/.turbo
*.log
target
build
dist
*.iml
.idea
.vscode
*.md
*.env
*.env.*
*.DS_Store
*.swp
*.swo
npm-debug.log
yarn-error.log
coverage

data/
README.md
HELP.md
-p/
documents/ 